<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p-button label="Atualizar" (click)="iniciando()"></p-button>

<p-table [value]="sistemas" >
  <ng-template pTemplate="header">
      <tr>
          <th>Sistema</th>
          <th [attr.colspan]="envs && envs.length || 1">Ambientes</th>
      </tr>
      <tr>
          <th></th>
          <th *ngFor="let env of envs">{{env}}</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr class="linha-sistema">
          <td >
              <span style="margin-left: 30%;">{{rowData}}</span>
          </td>
          <td *ngFor="let env of envs" class="coluna-sistema">
              <app-ambiente [env]="env" [grupo]="grupo" [sistema]="rowData" ></app-ambiente>
          </td>
      </tr>
  </ng-template>
</p-table>
<router-outlet></router-outlet>