.label-retornoPing{
    font-size: 10px;
}

.w{
    background-color: yellow;
    border-color: yellow;
}
.s{
    background-color: green;
    border-color: green;
}
.e{
    background-color: red;
    border-color: red;
}
